/* Estilos para tablets (pantallas medianas) */
@media (min-width: 768px) and (max-width: 1023px) {
    .about-me-image {
        width: 250px;
        height: auto;
    }

    .display-image-none {
        display: none !important;
    }

    .service-image {
        width: 300px;
        height: auto;
    }

    .service-image-2 {
        width: 300px;
        height: auto;
    }

    .product-image {
        width: 300px;
        height: auto;
    }
}